<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript">
        var coded = this.ctx.param('code');
    var state = this.ctx.param('state');
    var headers = this.ctx.headers;
    // console.log(headers);
    var path = '/login/aouth/access_token';
    headers.host = "github.com"
    // console.log(coded);
    
    var datad = querystring.stringify({
      client_id: option.CONSUMER_KEY,
      client_secret: option.CONSUMER_SECRET,
      code: coded
    })
    
    var opts = {
      host: "github.com",
      hostname: "github.com",
      port: '443',
      path: path,
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        'Content-Length': Buffer.byteLength(datad)
      },
      method: 'POST'
    }
    var kll ;
    var req = https.request(opts, function (res) {
      res.setEncoding('utf8');
      res.on('data', function (data) {
      
        /*var args = data.split('&');it('=');
        var tokenInfo = args[0].spl
        var token = tokenInfo[1];*/
       console.log("ok:", data);
      })
    }
    );
    req.write(datad);
    req.end();
    const token = https.cookie('token')
    https.cookie('token','kll');
        </script>
    <title>Document</title>
</head>
<body>
    <p>hello</p>
</body>
</html>